/* COLORS */
$color-primary: rgb(127, 127, 127);
$color-secondary: rgb(251, 245, 231);
$color-white: white;
$color-black: black;

/* FONTS */
$font-sans: "Rubik", sans-serif;
$font-navbar-size: 1rem;

/* MARGINS */
$margin-m: 20px;
$margin-s: 10px;
