/* COLORS */
$color-primary: rgb(127, 127, 127);
$color-secondary: rgb(251, 245, 231);
$color-white: white;
$color-black: black;
$color-hover: rgb(225, 213, 185);

/* FONTS */
$font-sans: "Rubik", sans-serif;
$font-navbar-size: 1rem;

$font-size-xl: 1.75rem;
$font-size-l: 1.25rem;
$font-size-m: 1rem;
$font-size-s: 0.75rem;

/* MARGINS */
$margin-l: 30px;
$margin-m: 20px;
$margin-s: 10px;

$navbar-height: 80px;
