@use "./_variables" as v;
@use "./_cart";
@use "./_landingpage";
@use "./_navbar";
@use "./_product";
@use "./_products";
@use "./_typography";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: v.$font-sans;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: v.$font-sans;
  padding: v.$margin-s;
  font-family: v.$font-sans;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: v.$color-secondary;
  background-color: v.$color-primary;
  border: 1px solid v.$color-primary;
  &:hover {
    color: v.$color-primary;
    background-color: v.$color-secondary;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: v.$color-secondary;
}

.header {
  position: sticky;
  top: 0;
}

.main-container {
  width: clamp(1000px, 85vw, 85vw);
  min-height: 100vh;
  border-bottom: 1px dotted black;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}